body {
	background-color: white;
}
.statistics {
	background-color: white;
	width: 290px;
	margin: 0 auto 20px auto;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	overflow: hidden;
}
.title {
	text-align: center;
	padding: 20px;
	font-weight: 600;
	color: rgba(128, 128, 128, 0.9);
}
.stat_list {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.item {
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 10px;
	align-items: center;
	justify-content: center;
	flex-basis: calc(100% / 5);
}
.name {
	font-size: 12px;
}
.proportion {
	font-size: 16px;
}
